
.minecraft/modernfix
.minecraft/saves
.minecraft\modernfix
.minecraft/saves/New World/entities/r.-1.0.mca
.minecraft/saves/New World/entities/r.-1.1.mca
.minecraft/saves/New World/entities/r.-2.-1.mca
.minecraft/saves/New World/entities/r.-2.0.mca
.minecraft/saves/New World/entities/r.0.-1.mca
.minecraft/saves/New World/entities/r.0.1.mca
.minecraft/saves/New World/entities/r.0.0.mca
.minecraft/saves/New World/entities/r.1.-1.mca
.minecraft/saves/New World/entities/r.1.0.mca
.minecraft/saves/New World/entities/r.1.1.mca
.minecraft/saves/New World/icon.png
.minecraft/saves/New World/level.dat
.minecraft/saves/New World/level.dat_old
.minecraft/saves/New World/playerdata/b1f78ca9-a7ae-433c-9b4f-edb983ca426a.dat
.minecraft/saves/New World/playerdata/b1f78ca9-a7ae-433c-9b4f-edb983ca426a.dat_old
.minecraft/saves/New World/poi/r.-1.-1.mca
.minecraft/saves/New World/poi/r.-1.0.mca
.minecraft/saves/New World/poi/r.-1.1.mca
.minecraft/saves/New World/poi/r.-2.-1.mca
.minecraft/saves/New World/poi/r.-2.0.mca
.minecraft/saves/New World/poi/r.0.-1.mca
.minecraft/saves/New World/poi/r.0.0.mca
.minecraft/saves/New World/poi/r.0.1.mca
.minecraft/saves/New World/poi/r.1.-1.mca
.minecraft/saves/New World/poi/r.1.0.mca
.minecraft/saves/New World/poi/r.1.1.mca
.minecraft/saves/New World/region/r.-1.-2.mca
.minecraft/saves/New World/region/r.-1.-1.mca
.minecraft/saves/New World/region/r.-1.-3.mca
.minecraft/saves/New World/region/r.-1.-5.mca
.minecraft/saves/New World/region/r.-1.0.mca
.minecraft/saves/New World/region/r.-1.1.mca
.minecraft/saves/New World/region/r.-1.2.mca
.minecraft/saves/New World/region/r.-1.3.mca
.minecraft/saves/New World/region/r.-2.-2.mca
.minecraft/saves/New World/region/r.-2.-1.mca
.minecraft/saves/New World/region/r.-2.-3.mca
.minecraft/saves/New World/region/r.-2.0.mca
.minecraft/saves/New World/region/r.-2.1.mca
.minecraft/saves/New World/region/r.-2.2.mca
.minecraft/saves/New World/region/r.-2.3.mca
.minecraft/saves/New World/region/r.-3.-2.mca
.minecraft/saves/New World/region/r.-3.-1.mca
.minecraft/saves/New World/region/r.-3.-3.mca
.minecraft/saves/New World/region/r.-3.-4.mca
.minecraft/saves/New World/region/r.-3.0.mca
.minecraft/saves/New World/region/r.-3.1.mca
.minecraft/saves/New World/region/r.-3.3.mca
.minecraft/saves/New World/region/r.-4.-1.mca
.minecraft/saves/New World/region/r.-4.0.mca
.minecraft/saves/New World/region/r.0.-1.mca
.minecraft/saves/New World/region/r.-4.2.mca
.minecraft/saves/New World/region/r.0.-2.mca
.minecraft/saves/New World/region/r.0.-3.mca
.minecraft/saves/New World/region/r.0.-4.mca
.minecraft/saves/New World/region/r.0.0.mca
.minecraft/saves/New World/region/r.0.1.mca
.minecraft/saves/New World/region/r.0.2.mca
.minecraft/saves/New World/region/r.0.3.mca
.minecraft/saves/New World/region/r.0.4.mca
.minecraft/saves/New World/region/r.1.-1.mca
.minecraft/saves/New World/region/r.1.-2.mca
.minecraft/saves/New World/region/r.1.-3.mca
.minecraft/saves/New World/region/r.1.0.mca
.minecraft/saves/New World/region/r.1.-4.mca
.minecraft/saves/New World/region/r.1.1.mca
.minecraft/saves/New World/region/r.1.2.mca
.minecraft/saves/New World/region/r.1.3.mca
.minecraft/saves/New World/region/r.2.-2.mca
.minecraft/saves/New World/region/r.2.-1.mca
.minecraft/saves/New World/region/r.2.-3.mca
.minecraft/saves/New World/region/r.2.-4.mca
.minecraft/saves/New World/region/r.2.1.mca
.minecraft/saves/New World/region/r.2.0.mca
.minecraft/saves/New World/region/r.2.2.mca
.minecraft/saves/New World/region/r.2.3.mca
.minecraft/saves/New World/region/r.3.-2.mca
.minecraft/saves/New World/region/r.3.-3.mca
.minecraft/saves/New World/region/r.3.-4.mca
.minecraft/saves/New World/region/r.3.0.mca
.minecraft/saves/New World/region/r.3.1.mca
.minecraft/saves/New World/region/r.3.2.mca
.minecraft/saves/New World/region/r.3.3.mca
.minecraft/saves/New World/region/r.4.-1.mca
.minecraft/saves/New World/region/r.4.-2.mca
.minecraft/saves/New World/region/r.4.0.mca
.minecraft/saves/New World/region/r.4.1.mca
.minecraft/saves/New World/region/r.4.2.mca
.minecraft/saves/New World/serverconfig/computercraft-server.toml
.minecraft/saves/New World/session.lock
.minecraft/saves/New World/stats/b1f78ca9-a7ae-433c-9b4f-edb983ca426a.json
.minecraft/saves/New World/xaeromap.txt
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/xaero/minimap/New World/config.txt
.minecraft/XaeroWaypoints_BACKUP240807/New World/config.txt
.gitattributes
.minecraft/saves/New World/dimensions/deeperdarker/otherside/data/indrev_networks.dat
.minecraft/saves/New World/dimensions/deeperdarker/otherside/data/raids.dat
.minecraft/saves/New World/dimensions/deeperdarker/otherside/data/ritchiesprojectilelib_chunk_manager.dat
.minecraft/saves/New World/entities/r.-1.-1.mca
/.minecraft/logs
/.minecraft/logs
.minecraft/logs/2024-12-21-6.log.gz
/.minecraft/modernfix
/.minecraft/modernfix/structureCacheV1
/.minecraft/modernfix
/.minecraft/logs
/.minecraft/.mixin.out
/.minecraft/data
/.minecraft/xaero
/.minecraft/screenshots
/.minecraft/Distant_Horizons_server_data
/.minecraft/Distant_Horizons_server_data
/.minecraft/Distant_Horizons_server_data/Minecraft+Server
.minecraft/Distant_Horizons_server_data/Minecraft+Server/overworld/DistantHorizons.sqlite-shm
/.minecraft/data/surveyor
.minecraft/logs/latest.log
/.minecraft/logs
.minecraft/mods/mods.7z
.minecraft/options.txt
.minecraft/shaderpacks/ComplementaryReimagined_r5.3.zip.txt
.minecraft/shaderpacks/ComplementaryReimagined_r5.3.zip.txt
.minecraft/options.txt
.minecraft/logs/latest.log
/.minecraft/.fabric/processedMods
.minecraft/TrashSlotSaveState.json
.minecraft/logs/crafttweaker.log
.minecraft/config/ad_astra-client.jsonc
/.minecraft/crash-reports
/.minecraft/immersive_paintings_cache
.minecraft/icon.png
.minecraft/irisUpdateInfo.json
.minecraft/patchouli_data.json
.minecraft/servers.dat
.minecraft/servers.dat_old
.minecraft/XaeroWaypoints_BACKUP240807/Multiplayer_bell-stop-the-poll.exaroton.me/config.txt
.minecraft/fancymenu_data/last_world.fmdata
.minecraft/XaeroWaypoints_BACKUP240807/Multiplayer_50.20.255.189/config.txt
/.minecraft/emojiful/cache
/.minecraft/config/zombieawareness
/.minecraft/config/valkyrienskies
/.minecraft/config/simplyskills
/.minecraft/config/simplyswords_main
.minecraft/config/accessories.json5
.minecraft/config/ad_astra.jsonc
.minecraft/config/adaptive-tooltips.json
.minecraft/config/additional_rpg_jewelry/items_v4.json
.minecraft/config/advancementplaques-common.toml
.minecraft/config/ae2/client.json
.minecraft/config/ae2/common.json
.minecraft/config/aether-client.toml
.minecraft/config/aether-common.toml
/.minecraft/config/aether
.minecraft/config/amendments-client.json
.minecraft/config/amendments-common.json
.minecraft/config/antique-atlas.toml
.minecraft/config/appleskin.json5
/.minecraft/config/archers
/.minecraft/config/artifacts
.minecraft/config/attributefix.json
.minecraft/config/balm-common.out.toml
.minecraft/config/balm-common.toml
/.minecraft/config/bards
/.minecraft/config/bclib
/.minecraft/config/berserker_rpg
/.minecraft/config/bettercombat
.minecraft/config/betterdeserttemples-fabric-1_20.toml
/.minecraft/config/betterdeserttemples
.minecraft/config/betterdungeons-fabric-1_20.toml
/.minecraft/config/betterend
.minecraft/config/betterendisland-fabric-1_20.toml
.minecraft/config/betterfortresses-fabric-1_20.toml
/.minecraft/config/betterfortresses
.minecraft/config/betterjungletemples-fabric-1_20.toml
.minecraft/config/bettermineshafts-fabric-1_20.toml
/.minecraft/config/betternether
.minecraft/config/betteroceanmonuments-fabric-1_20.toml
.minecraft/config/betterstrongholds-fabric-1_20.toml
/.minecraft/config/betterstrongholds
.minecraft/config/betterthirdperson.json5
.minecraft/config/bettertridents-common.toml
.minecraft/config/bettertridents-server.toml
.minecraft/config/betterwitchhuts-fabric-1_20.toml
.minecraft/config/bewitchment.json
/.minecraft/config/biomesoplenty
/.minecraft/config/blood_mages
.minecraft/config/boids.json5
.minecraft/config/bosses_of_mass_destruction.json5
.minecraft/config/botania-client.json5
.minecraft/config/botania-common.json5
/.minecraft/config/bountiful
.minecraft/config/bwncr.toml
/.minecraft/config/camerautils
.minecraft/config/cardiac.yaml
.minecraft/config/cardinal-components-api.properties
.minecraft/config/carryon-client.json
.minecraft/config/carryon-common.json
.minecraft/config/cc_vs-config.toml
.minecraft/config/cccbridge.properties
.minecraft/config/charmofundying-server.toml
.minecraft/config/chattoggle.json
.minecraft/config/collective.json5
/.minecraft/config/collective
/.minecraft/config/combatroll
.minecraft/config/comforts-server.toml
.minecraft/config/computercraft-client.toml
/.minecraft/config/configurable
.minecraft/config/continuity.json
.minecraft/config/cookingforblockheads-common.toml
/.minecraft/config/CoroUtil
.minecraft/config/craftingtweaks-common.toml
.minecraft/config/create-client.toml
.minecraft/config/create-common.toml
.minecraft/config/create-server.toml
.minecraft/config/create_dd-client.toml
.minecraft/config/create_dd-common.toml
.minecraft/config/create_dd-server.toml
.minecraft/config/create_interactive-client.toml
.minecraft/config/create_interactive-common.toml
.minecraft/config/create_interactive-server.toml
.minecraft/config/create_new_age-client.toml
.minecraft/config/create_new_age-common.toml
.minecraft/config/createaddition-common.toml
.minecraft/config/createbigcannons-client.toml
.minecraft/config/createbigcannons-common.toml
.minecraft/config/createbigcannons-server.toml
.minecraft/config/createfood.json5
.minecraft/config/createoreexcavation-common.toml
.minecraft/config/createoreexcavation-server.toml
.minecraft/config/creeperoverhaul.jsonc
.minecraft/config/cumulus_menus-client.toml
/.minecraft/config/de
/.minecraft/config/death_knights
.minecraft/config/deeperdarker.json5
.minecraft/config/DistantHorizons.toml
.minecraft/config/do_a_barrel_roll-client.json
.minecraft/config/do_a_barrel_roll-server.json
.minecraft/config/doubledoors.json5
.minecraft/config/dsbg-server.toml
/.minecraft/config/dsurround
.minecraft/config/easyanvils-client.toml
.minecraft/config/easyanvils-server.toml
.minecraft/config/easymagic-client.toml
.minecraft/config/easymagic-server.toml
/.minecraft/config/elemental_wizards_rpg
.minecraft/config/emojiful.json
.minecraft/config/enchantinginfuser-server.toml
.minecraft/config/enchdesc.json
.minecraft/config/ends_delight-common.toml
.minecraft/config/entity_model_features.json
.minecraft/config/entity_texture_features.json
.minecraft/config/entityculling.json
.minecraft/config/etf_warnings.json
.minecraft/config/everycomp-common.json
.minecraft/config/everycomp-entries.json
.minecraft/config/everycomp-hazardous.properties
.minecraft/config/expanded-delight.json
.minecraft/config/explorerscompass.json
.minecraft/config/fabric/indigo-renderer.properties
/.minecraft/config/fabricenchantments
.minecraft/config/fallingleaves.json
.minecraft/config/farmersdelight-client.toml
.minecraft/config/farmersdelight-common.toml
.minecraft/config/farmersrespite-common.toml
.minecraft/config/farmingforblockheads-common.toml
/.minecraft/config/farmingforblockheads
.minecraft/config/ferritecore.mixin.properties
.minecraft/config/flow.config.json
.minecraft/config/flywheel.json
/.minecraft/config/forcemaster_rpg
.minecraft/config/forgeconfigapiport.toml
.minecraft/config/fpsdisplay.json
.minecraft/config/friendlyfire.json
.minecraft/config/friendsandfoes.json
.minecraft/config/frightsdelight.json
.minecraft/config/goblintraders-entities.toml
.minecraft/config/guardvillagers.json
.minecraft/config/healingcampfire.json5
.minecraft/config/herbalbrews.json
.minecraft/config/horsecombatcontrols-config.json5
.minecraft/config/immersive_paintings.json
.minecraft/config/immersivelanterns-client.toml
.minecraft/config/incantationem.json
.minecraft/config/indium-renderer.properties
/.minecraft/config/indrev
.minecraft/config/inventory_sort.json5
.minecraft/config/iris.properties
.minecraft/config/itemswapper-server-cache.json
.minecraft/config/itemswapper.json
/.minecraft/config/jade
/.minecraft/config/jei
/.minecraft/config/jewelry
.minecraft/config/kleeslabs-common.toml
/.minecraft/config/konkrete
.minecraft/config/leavesbegone-server.toml
.minecraft/config/legendarytooltips-common.toml
.minecraft/config/libgui.json5
.minecraft/config/lithium.properties
.minecraft/config/magna.json
.minecraft/config/majruszlibrary.json
.minecraft/config/majruszsenchantments.json
/.minecraft/config/mcdw
.minecraft/config/medievalweapons.json5
.minecraft/config/midnightlib.json
.minecraft/config/modernfix-mixins.properties
.minecraft/config/modmenu.json
.minecraft/config/moonlight-client.json
.minecraft/config/moonlight-common.json
/.minecraft/config/more_jewels
/.minecraft/config/more_rpg_classes
/.minecraft/config/more_spell_attributes
.minecraft/config/MouseTweaks.cfg
.minecraft/config/mythicmetals-config.json5
.minecraft/config/naturalist.json
.minecraft/config/naturescompass.json
.minecraft/config/necronomicon.json5
.minecraft/config/niftycarts-client.toml
.minecraft/config/niftycarts-common-1.toml.bak
.minecraft/config/niftycarts-common.toml
/.minecraft/config/NoChatReports
.minecraft/config/nohostilesaroundcampfire.json5
.minecraft/config/noindium.json
.minecraft/config/notenoughanimations.json
.minecraft/config/nyfsspiders.json
.minecraft/config/overflowingbars-client.toml
.minecraft/config/packetfixer.properties
.minecraft/config/pal.properties
/.minecraft/config/paladins
.minecraft/config/patchoulibutton.json5
.minecraft/config/patchouli.json5
/.minecraft/config/pehkui
/.minecraft/config/pirates
.minecraft/config/polymorph-integrations.toml
.minecraft/config/powah.json5
/.minecraft/config/puffish_skills
.minecraft/config/railways-client.toml
.minecraft/config/railways-common.toml
.minecraft/config/railways-server.toml
/.minecraft/config/reborncore
.minecraft/config/repurposed_structures.json
.minecraft/config/resourceful-config-web.json
.minecraft/config/respawnablepets.json
.minecraft/config/rightclickharvest.json
.minecraft/config/ritchiesprojectilelib-server.toml
/.minecraft/config/rogues
.minecraft/config/rolling_down_in_the_deep-client.json
/.minecraft/config/rpg_series
.minecraft/config/rrp.properties
.minecraft/config/scout.css
.minecraft/config/showmeyourskin-server.json
.minecraft/config/showmeyourskin.json
.minecraft/config/silentsdelightconfig.properties
/.minecraft/config/simplyswords_extra
.minecraft/config/skinlayers.json
.minecraft/config/smallships-client.toml
.minecraft/config/smallships-common.toml
.minecraft/config/sodium-fingerprint.json
.minecraft/config/sodium-mixins.properties
.minecraft/config/sodium-options.json
.minecraft/config/sodiumdynamiclights-client.toml
.minecraft/config/soulsweapons.json
.minecraft/config/spawnermod.json
/.minecraft/config/spell_engine
/.minecraft/config/spell_power
.minecraft/config/starterkit.json5
/.minecraft/config/starterkit
.minecraft/config/stoneworks-common.toml
.minecraft/config/storagedrawers-client.toml
.minecraft/config/storagedrawers-common.toml
.minecraft/config/structurify.json
.minecraft/config/supplementaries-client.json
.minecraft/config/supplementaries-common.json
.minecraft/config/suppressopengl1280.json
.minecraft/config/surveyor.toml
.minecraft/config/tacz-client.toml
.minecraft/config/tacz-common.toml
/.minecraft/config/techreborn
.minecraft/config/tectonic.json
.minecraft/config/terrablender.toml
.minecraft/config/tide.toml
.minecraft/config/timeoutout.json
.minecraft/config/transmog.json
.minecraft/config/trashslot-common.toml
.minecraft/config/treechop-client.toml
.minecraft/config/treechop-common.toml
.minecraft/config/tumbleweed.properties
.minecraft/config/ubesdelight.json
.minecraft/config/veinmining-client.toml
.minecraft/config/veinmining-common.toml
.minecraft/config/veinmining-server.toml
.minecraft/config/via_romana.toml
.minecraft/config/villagernames.json5
/.minecraft/config/villagernames
.minecraft/config/vinery.json
/.minecraft/config/vinery
.minecraft/config/visuality.json
.minecraft/config/vmod-CLIENT.toml
.minecraft/config/vmod-COMMON.toml
.minecraft/config/vmod-SERVER.toml
/.minecraft/config/VModData
.minecraft/config/vs_clockwork-client.toml
.minecraft/config/vs_clockwork-common.toml
.minecraft/config/vs_clockwork-server.toml
.minecraft/config/vscrumbles-config.json5
.minecraft/config/waystones-common.toml
/.minecraft/config/witcher_rpg
/.minecraft/config/wizards
.minecraft/config/xaerominimap-common.txt
.minecraft/config/xaerominimap.txt
.minecraft/config/xaerominimap_entities.json
.minecraft/config/xaeropatreon.txt
.minecraft/config/yacl.json5
.minecraft/config/bakery.json
.minecraft/config/clickadv.json
.minecraft/config/cupboard.json
.minecraft/config/farm_and_charm.json
.minecraft/config/meadow.json
